h1.heading {
  font-weight: 800;
  font-size: 5rem;
  // line-height: 6.1rem;
  // letter-spacing: -13.4568px;
  color: #000;
}
h2.heading {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 2.1rem;
  color: #000;
  font-weight: 900;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

@mixin img-size {
  height: 100%;
  width: 100%;
}

@mixin icon-vector {
  height: 2rem;
  width: 2rem;
}

@mixin bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
